.imageGalleryItem{
 background-color:  rgb(204, 204, 206);
 border: 2px solid  #560e9e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 24px -5px rgba(86, 14, 158, 1);
    width:  ((100% - 40px) / 4);
  }
.imgItem{
  cursor: pointer;
}

  .imgItem:hover,
 .imgItem:focus {
  transform: scale(1.05);
  transition-duration: 250ms;
 }
  